<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登入選單</title>
  <style>
    body {
        background-image: url('/static/background_01.jpg');
        background-size: 100vw 100vh; 
        background-repeat: no-repeat;
        margin: 0; 
    }
  </style>
</head>
<body>
  <div style="width: 117px;">
    <form method="post" action="/menu" >
      <input type="submit" value="已擁有帳號" name="login">
      <br>
      <input type="submit" value="註冊新帳號" name="register" >
    </form>
  </div>
</body>
</html>
